<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<b><h1>Birth Moon Sign </h1></b>
<p > {{ horoscope.birth_moon_sign }}</p>
<br>


<b><h1>Birth Moon Nakshatra</h1></b>
<p>{{ horoscope.birth_moon_nakshatra }}</p>
<br>


<b><h1>Prediction</h1></b>
<b><h2>Health</h2></b>
<p>{{ horoscope.prediction.health }}</p>

<b><h2>Emotions</h2></b>
<p>{{ horoscope.prediction.emotions }}</p>

<b><h2>Profession</h2></b>
<p>{{ horoscope.prediction.profession }}</p>

<b><h2>Luck</h2></b>
<p>{{ horoscope.prediction.luck }}</p>

<b><h2>Personal Life</h2></b>
<p>{{ horoscope.prediction.personal_life }}</p>

<b><h2>Travel</h2></b>
<p>{{ horoscope.prediction.travel }}</p>
<br>

<h3>Predicted Date</h3>
<p>{{ horoscope.prediction_date }}</p>





</body>
</html>